﻿@model DawidKobierskiLab5.Models.Order
@{
    ViewBag.Title = "Dodaj Zamówienie";
}

<h2>Dodaj Zamówienie</h2>

@using (Html.BeginForm())
{
    @Html.HiddenFor(m => m.Id)

    <div class="form-group">
        @Html.LabelFor(m => m.UserName)
        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control"})
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.UserAdress)
        @Html.TextBoxFor(m => m.UserAdress, new {@class = "form-control"})
    </div>
    <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-saved"></span> Kup</button>
}

