﻿
@{
    ViewBag.Title = "Zamowienie przyjęte";
}

<h2>Zamówienie przyjęte.:) Nasza pizza niedługo do Ciebie zawita, przygotuj się.</h2>
<p style="font-size: 40; color: blue"></p>
@Html.ActionLink("Wróc do Strony Głownej","Index","Home",null,new { @class = "btn btn-success"})

