﻿@using DawidKobierskiLab5.Models
@model List<DawidKobierskiLab5.Models.Order>
@{
    ViewBag.Title = "Zamówienia";
}
@{ string pizzas = "";}
<h2>Zamówienia</h2>

<table class="table table-bordered table-striped" style="background: white">
    <thead>
    <tr>
        <th>Lp.</th>
        <th>Zamawiający</th>
        <th>Adres</th>
        <th>Pizze</th>
        <th>Akcje</th>
    </tr>
    <tbody>
        @foreach (var order in Model)
        {
            <tr>
                <td>@order.Id</td>
                <td>@order.UserName</td>
                <td>@order.UserAdress</td>
                <td>@order.Pizzas</td>
                <td>@Html.ActionLink("Dostarczone", "Delivered", new {id = order.Id}, new {@class = "btn btn-danger"})</td>

            </tr>
        }
    </tbody>
    </thead>

</table>
