﻿@model DawidKobierskiLab5.Models.Pizza

@{
    ViewBag.Title = "Dodaj pizze";
}

<h2>Dodaj pizze</h2>

@using (Html.BeginForm())
{
    @Html.HiddenFor(m => m.Id)

    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control"})
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Ingredients)
        @Html.TextBoxFor(m => m.Ingredients, new { @class = "form-control"})
    </div>

    <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-saved"></span> Dodaj</button>
}