﻿        @using System.Web.UI.WebControls        @model System.Collections.Generic.List<DawidKobierskiLab5.Models.Pizza>
@{
    ViewBag.Title = "Menu";
}

<h2>Menu</h2>

@Html.ActionLink("Dodaj pizze","Add",null,new { @class = "btn btn-success"})

<table class="table table-bordered table-striped" style="background: white">
    <thead>
    <tr>
        <th>Lp.</th>
        <th>Nazwa</th>
        <th>Składniki</th>
        <th>Akcje</th>
    </tr>
    <tbody>
        @foreach (var pizza in Model)
        {

            <tr>
                <td>@pizza.Id</td>
                <td>@pizza.Name</td>
                <td>@pizza.Ingredients</td>
                <td>@Html.ActionLink("Zamów", "Order", new { id = pizza.Id }, new { @class = "btn btn-success" })</td>
                <td>@Html.ActionLink("Edytuj", "Edit", new {id = pizza.Id}, new {@class = "btn btn-primary"})</td>
                <td>@Html.ActionLink("Usuń", "Delete", new {id = pizza.Id}, new {@class = "btn btn-danger"})</td>

            </tr>
        }
    </tbody>
    </thead>

</table>