﻿@model System.Collections.Generic.List<DawidKobierskiLab5.Models.Pizza>

@{
    ViewBag.Title = "Koszyk";
}

<h2>Koszyk</h2>

@if (Model.Count == 0)
{
    <div>
        <img src="https://image.freepik.com/darmowe-wektory/pusty-koszyk-w-3d_72147488628.jpg" alt="" style="float: left; padding-top: 20px"/>
        <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
        <p style="color: red; font-size: large; text-decoration: none; font-family: fantasy; font-size: 30px">Twój koszyk jest pusty, zamów coś:)</p>
    </div>
}
else
{

    <table class="table table-bordered table-striped" style="background: white">
        <thead>
        <tr>
            <th>Lp.</th>
            <th>Nazwa</th>
            <th>Składniki</th>
            <th>Akcje</th>
        </tr>
        <tbody>
        @foreach (var pizza in Model)
        {

            <tr>
                <td>@pizza.Id</td>
                <td>@pizza.Name</td>
                <td>@pizza.Ingredients</td>
                <td>@Html.ActionLink("Anuluj", "Cancel", new {id = pizza.Id}, new {@class = "btn btn-danger"})</td>

            </tr>
        }
        </tbody>
        </thead>

    </table>
    <p style="text-align: right">
        @Html.ActionLink("Potwierdz zamowienie", "Confirm", "Order", null, new {@class = "btn btn-success"})</p>
    
        
}