﻿@{
    ViewBag.Title = "Pizza Store";
}
<div class="page-header">
    <h1 style="font-size: 40px; font-family: fantasy;letter-spacing: 3px">Strona główna</h1>
    <br/><br/><br/>
    <div><img src="https://pbs.twimg.com/media/CRWnAdOWwAA9c5Q.jpg" alt="" style="float: right;"/>
        <p style="color: red; font-size: 25px;font-family: fantasy">
            <br/><br/><br/><br/>
            Tylko dzisiaj taka niepowtarzalna okazja!
        </p>
    </div>
    <div><img src="http://www.blog.travelstore.pl/wp-content/uploads/2015/09/wlochy.png" alt="" style="float: left;padding-top: 20px"/>
        <p style="color: blue; font-size: 25px; font-family: fantasy;">
            <br/><br/><br/><br/><br/><br/><br/>
            Poczuj się jak we włoskiej restauracji!
        </p>
    </div>
</div>
        