﻿<div class=row">
    <div class="col-md-3">Tytuł</div>
    <div class="col-md-3">Autor</div>
    <div class="col-md-3">ISBN</div>
    <div class="col-md-3">Rok wydania</div>

</div>
<div class=row">
    <div class="col-md-3" id="toRed">Nauka c#</div>
    <div class="col-md-3">Jan Kowalski</div>
    <div class="col-md-3">1122-33444</div>
    <div class="col-md-3">2005</div>

</div>
<div class=row">
    <div class="col-md-3">Nauka HTML</div>
    <div class="col-md-3">John Smith</div>
    <div class="col-md-3">1122-334443</div>
    <div class="col-md-3">2015</div>

</div>
<div class="row" id="toAppend"></div>
<input type="text" id="search"/>
<div class="btn btn-success" onclick="search()">Kliknij</div>

<canvas></canvas>


<script src="../../Scripts/jquery-1.10.2.min.js"></script>
<script>
    var can = document.querySelector("canvas");
    var ctx = can.getContext("2d");
    ctx.fillRect(25, 25, 100, 100);
    ctx.clearRect(45,45,60,60);
    ctx.strokeRect(50, 50, 50, 50);
    ctx.beginPath();
    ctx.moveTo(35, 10);
    ctx.lineTo(60, 40);
    ctx.lineTo(10, 40);
    ctx.lineTo(35, 10);
    ctx.stroke();

    console.log("Hello Wordld - w konsoli");
    document.write("Hello World- w dokumencie");
    //alert("okienko hello World");
    var redTitle = document.getElementById("toRed");
    redTitle.style.color = "red";

    var myClasses = document.querySelector(".col-md-3");
    //myClasses.forEach(function() {
    //    console.log('Element');
    //});
    console.log(typeof(x));
    var y = 9;
    var z = "w";
    console.log(typeof(y));
    console.log(typeof (z));
    if (y === '9') {
        console.log('That is true');
    } else {
        console.log('That is not all true');
    }

    book = {
        'title': "Nauka asp.net",
        'author': "John Smith",
        "isbn": 1223235,
        "year": 2005
    };
    book2 = {
        'title': "Nauka ",
        'author': "John ",
        "isbn": 1223235,
        "year": 2008
    };

    console.log("Our book is", book);
    books = [];
    books.push(book);
    books.push(book2);
    console.log("Our books are", books);
    $(document)
        .ready(function() {
            console.log("Here is jquery");
            for (var i = 0; i < books.length; i++) {
                $("#toAppend")
                    .append(
                        "<div class=\"col-md-3\">" + books[i].title + "</div>");
            }
        });


    function search() {
        $("toAppend").html("");
        var searchText = document.getElementById("search").value;
        newBooks = books.filter(function(element) {
            return element.title.indexOf(searchText) !== -1;
        });
        for (var i = 0; i < newBooks.length; i++) {
            console.log(newBooks[i]);
            $("#toAppend")
                .append(
                    "<div class=\"col-md-3\">" + newBooks[i].title + "</div>");
        }
    };


</script>

<script src="../../Scripts/nauka.js">
    
</script>