﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pizza Store - @ViewBag.Title</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css"/>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <script src="~/Scripts/modernizr-2.6.2.js"></script>


</head>
<body style="background-color: wheat">
<div class="navbar  navbar-fixed-top" style="background:skyblue ; font-size: 20px; font-family: fantasy;">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" style="font-family: fantasy; font-size: 30px">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Pizza Store", "Index", "Home", new {area = ""}, new {@class = "navbar-brand"})
        </div>
        <div class="navbar-">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Menu", "List", "Pizza")</li>
            </ul>
        </div>
        <div class="navbar-">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Wszystkie Zamówienia", "Purchased", "Order")</li>
            </ul>
        </div>
        <div class="navbar-">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Koszyk", "Orders", "Pizza")</li>
            </ul>
        </div>

    </div>
</div>

<div class="container body-content">
    @RenderBody()
    <hr/>
    <footer>
        <p>&copy; @DateTime.Now.Year - Pizza Store</p>
    </footer>
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>